.form {
	background-color: #FFFFFF;
	font-size: 11px;
	border: 1px solid #000000;
	color: #333333;
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
	padding: 1px;
}
.title {
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
	font-size: 11px;
	font-weight: bold;
	color: #CCCCCC;
	letter-spacing: 2px;
}
.table_in_leftcell {
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
	color: #333333;
	background-color: #C2CDD6;
	border: 1px none #CCCCCC;
	padding: 8px;
	font-size: 11px;
	margin: 0px;
	vertical-align: top;
}
.table_out {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	padding: 0px;
}
.table_in_rightcell {
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
	color: #333333;
	background-color: #DEE3E7;
	border: 1px none #CCCCCC;
	padding: 8px;
	font-size: 11px;
	margin: 0px;
	vertical-align: top;
}
.table_in_header {
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
	color: #FFFFFF;
	background-color: #000066;
	border: 1px none #CCCCCC;
	padding: 8px;
	font-size: 12px;
	margin: 0px;
	vertical-align: middle;
	font-weight: bold;
	letter-spacing: 2px;
}
a:link {
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
	color: black;
	font-size: 10px;
}
a:hover {
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
	color: red;
	font-size: 10px;
}
.attention_red {
	color: #FF0000;
}

.flex_box
{
	font-size:10px;
	display:flex;							
}
.flex_box > div
{
	padding:5px;
}
.site_name
{
	flex-grow: 2;
	line-height:40px;
}
.site_name > a
{
	font-size:16px;
	font-weight:bold;
}
.site_banner
{
	flex-grow: 2;
	line-height:40px;
}
.site_banner img
{
	max-height:100%;
	min-height:100%;
}
.site_status
{
	flex-basis:100px;
}
.site_status > select
{
	font-weight:bold;
	padding:5px;
	min-width:100%;
	border:2px solid black;
}
.table{
	display:table;
	border:1px solid black;
	box-sizing:border-box;
	max-width:100%;
	min-width:100%;
	font-size:10px;
}
.table_header
{
	display:table-header-group;
	text-align:center;
	background-color:black;
	color:white;
	font-weight:bold;
}
.table_row
{
	display:table-row;
}
.table_row li
{
	margin:0px;
	padding:0;
}
.table_cell
{
	display:table-cell;
	border:1px solid black;
	padding:5px;
}
.table_row > table_cell
{
	background-color:white;
}
