<?php $_GET = array_map("htmlspecialchars", $_GET); ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
<title>詳細検索画面　| <?php echo $cfg['search_name']; ?></title>
<meta name="keywords" content="<?php echo $cfg['ver']; ?>,検索エンジン,詳細検索画面" />
<meta name="description" content="<?php echo $cfg['ver']; ?>の検索エンジンの詳細検索画面です" />
<link media="screen" rel="stylesheet" href="css/main.css" type="text/css">
</head>
<body>
<!-- Menu Bar Output -->
<table width="100%" class="table_menu_bar">
    <tr>
        <td style="text-align:center;">
        <?php printHeaderAd(); ?>
        </td>
    </tr>
    <tr>
    <td><?php echo $text['menu_bar']; ?></td>
  </tr>
</table>
<!-- /Menu Bar Output -->
<!-- Header Space Output -->
<?php echo $text['head_sp']; ?>
<!-- /Header Space Output -->
<!-- Navigation Bar Output -->
<table width="100%" class="table_navigation_bar">
  <tr>
    <td><a href="<?php echo $cfg['home']; ?>">ホーム</a>&nbsp;&gt;&nbsp;<strong>詳細検索</strong></td>
  </tr>
</table>
<!-- /Navigation Bar Output -->
<ul>
<form action="<?php echo $cfg['search']; ?>" method="get" target="<?php if(!isset($_GET['window'])){$_GET['window'] = "";} echo $_GET['window']; ?>">
	<input type="hidden" name="mode" value="search">
	<input type="hidden" name="open_type" value="0">
	<input name="word" type="text" class="form" size="30">
	<input type="submit" class="form" value=" 検 索 "> 
	<input type="reset" class="form" value="リセット">
	<br>
	<a href="#ex_method">検索条件</a>：
	<select name="method" class="form">
		<option value="and"<?php echo $ck_0_0; ?>>すべての語を含む</option>
		<option value="or"<?php echo $ck_0_1; ?>>いずれかの語を含む</option>
	</select>
	<br>
	<a href="#ex_str">検索式を使用</a>：<input name="use_str" type="checkbox" class="form" value="on"<?php echo $ck_1; ?>>
	<br>
		<a href="#ex_engine">検索エンジン</a>：<select name="engine" class="form">
<?php echo $text['search_form']; ?>
	<?php echo $ck_2_3; ?>
	    </select> <input name="www" type="checkbox" class="form" value=on<?php echo $ck_4; ?>>
	    www.
<br>
	<a href="#ex_kt">カテゴリ指定</a>：
	<select name="search_kt" class="form">
		<option value="" selected>指定しない</option>
		<?php echo $ck_5_6; ?>
<?php
foreach($ganes as $key=>$val) {
	?><option value="<?php echo $key; ?>"><?php echo full_category($key) . "\n";
}
?>
	</select><br>　
	<input name="search_kt_ex" type="radio" class="form" value=""<?php echo $ck_7_0; ?>>
	指定カテゴリのみ | <input name="search_kt_ex" type="radio" class="form" value="-b_all"<?php echo $ck_7_1; ?>>
	指定カテゴリ以下
	<br>
	<a href="#ex_day">日付指定</a>：
	<select name="search_day" class="form">
		<option value="" selected>指定しない</option>
		<?php echo $ck_8_9; ?>
		<option value="today">本日</option>
		<option value="1-0">1日以内</option>
		<option value="3-0">3日以内</option>
		<option value="7-0">7日以内</option>
		<option value="14-0">14日以内</option>
		<option value="30-0">30日以内</option>
	</select> | コマンド入力 <input name="search_day_ex" type="text" class="form" value="<?php echo $ck_10; ?>">
	<br>
	<a href="#ex_kt_search">カテゴリ名検索</a>：<input name="kt_search" type="radio" class="form" value="on"<?php echo $ck_11_0; ?>>
	する | <input name="kt_search" type="radio" class="form" value="off"<?php echo $ck_11_1; ?>>
	しない
	<br>
<?php
if(isset($ck_ck)) {
	echo "<a href=\"#ex_set_option\">検索オプションを保存</a>：<input type=\"checkbox\" name=\"set_option\" value=\"on\"{$ck_ck}>";
} else {
	echo "<a href=\"#ex_set_option\">検索オプションを保存</a>：<input type=\"checkbox\" name=\"set_option\" value=\"on\">";
}
?>
</form>
</ul>
<!-- Navigation Bar Output -->
<table width="100%" class="table_navigation_bar">
  <tr>
    <td><a href="<?php echo $cfg['home']; ?>">ホーム</a>&nbsp;&gt;&nbsp;<strong>一括検索</strong></td>
  </tr>
</table>
<!-- /Navigation Bar Output -->
<ul>
<form action="<?php echo $cfg['search']; ?>" method="get" target="<?php echo $_GET['window']; ?>">
	<input type="hidden" name="mode" value="meta">
	<input name="word" type="text" class="form" size="30">
	<input type="submit" class="form" value="一括検索"> 
	<input type="reset" class="form" value="リセット">
	<br>
	<font id="small">検索条件：</font>
	<select name="method" class="form">
		<option value="and">すべてのワードを含む</option>
		<option value="or">いずれかのワードを含む</option>
	</select><br>
	<font id="small">表示件数：</font>
	<select name="hyouji" class="form">
		<option value="25">25件表示</option>
		<option value="50">50件表示</option>
		<option value="75">75件表示</option>
		<option value="100">100件表示</option>
	</select><br>
	<font id="small">ページの開き方：</font>
	<select name="target" class="form">
		<option value="_blank">リンク先を新しいページで開く</option>
		<option value="">リンク先を次のページにする</option>
	</select>
	<br>
</form>
</ul>
<!-- Navigation Bar Output -->
<table width="100%" class="table_navigation_bar">
  <tr>
    <td><a href="<?php echo $cfg['home']; ?>">ホーム</a>&nbsp;&gt;&nbsp;<strong>ヘルプ</strong></td>
  </tr>
</table>
<!-- /Navigation Bar Output -->
<br>
<ul>
【<strong>詳細検索の説明</strong>】<br>
<br>
	<li><a name="ex_method"><a href="#ex"><b>検索条件</b></a></a><br>
	キーワードを複数指定したい場合に有効です<br>
	キーワードはスペース(空白文字)で区切って複数指定することができます<br>
	<b>[すべての語を含む]</b> ・・・指定したすべてのキーワードを含むデータのみ検索します<br>
	<b>[いずれかの語を含む]</b> ・・・指定したキーワードが一つでも入っているデータを検索します
	<br><br>
	<li><a name="ex_str"><a href="#ex"><b>検索式を使用</b></a></a><br>
	このチェックを入れるとキーワードを検索式として検索することができます<br>
	<b>[使用可能なオプション]</b><br>
	<b>and</b> ・・・このオプションに続くキーワードを<b>含む</b>データを検索します(AND条件)<br>
	<b>or</b> ・・・このオプションに続くキーワードを<b>含む</b>データを検索します(OR条件)<br>
	<b>not</b> ・・・このオプションに続くキーワードを<b>含まない</b>データを検索します<br><br>
	たとえば「ホーム」というキーワードを含んで「ホームページ」というキーワードが含まれないデータを検索する場合は、<br>　
	<b>ホーム not ホームページ</b><br>
	とキーワード欄に記入してください。
	<br><br>
	<li><a name="ex_engine"><a href="#ex"><b>検索エンジン</b></a></a><br>
	使用する検索エンジンを指定します。<br>
	<b><?php echo $cfg['search_name']; ?></b>以外の検索エンジンではその他の条件を指定できない場合があります
	<br><br>
	<li><a name="ex_kt"><a href="#ex"><b>カテゴリ指定</b></a></a><br>
	検索するカテゴリを限定することができます。<br>
	<b>指定しない</b>を選択した場合にはすべてのカテゴリから検索します。<br>
	<b>[オプション]</b><br>
	<b>指定カテゴリのみ</b> ・・・選択したカテゴリのみを検索対象とします<br>
	<b>指定カテゴリ以下</b> ・・・選択したカテゴリとその下の階層にあるカテゴリを検索対象とします
	<br><br>
	<li><a name="ex_day"><a href="#ex"><b>日付指定</b></a></a><br>
	データの登録日/更新日を検索対象に指定することができます<br>
	<b>[コマンドの説明]</b><br>
	<b>today-x</b> ・・・本日を基準に日付を指定するコマンドです<br>　
	(例1)本日登録/更新されたのデータを検索する場合<br>　
	<b>today</b>　とコマンド欄に入力する。<br>　
	(例2)10日前に登録/更新されたデータを検索する場合<br>　
	<b>today-10</b>　とコマンド欄に入力する。<br>
	<b>year/month/day</b> ・・・西暦で日付を指定するコマンドです<br>　
	(例1)2000年5月15日に登録/更新されたデータを検索する場合<br>　
	<b>2000/05/15</b>　とコマンド欄に入力する。<br>　
	(例2)1999年10月25日に登録/更新されたデータを検索する場合<br>　
	<b>1999/10/25</b>　とコマンド欄に入力する。<br>
	<b>[start_day]-[end_day]</b> ・・・本日を基準に指定した期間中のデータを検索するコマンドです<br>　
	(例1)30日前～本日までの間に登録/更新されたデータを検索する場合<br>　
	<b>30-0</b>　とコマンド欄に入力する。<br>　
	(例2)100日前～50日前までに登録/更新されたデータを検索する場合<br>　
	<b>100-50</b>　とコマンド欄に入力する。
	<br><br>
	<li><a name="ex_kt_search"><a href="#ex"><b>カテゴリ名検索</b></a></a><br>
	キーワードでカテゴリを検索することができます<br>
	「しない」にチェックするとカテゴリを検索しません<br>
	<br>
	<li><a name="ex_open_type"><a href="#ex"><b>検索結果画面の開き方</b></a></a><br>
	検索結果画面の開き方を選択することができます<br>
	ブラウザの設定でJavaScriptを使用しない設定にしている場合には動作しません<br>
	検索オプションとしては保存されません<br>
	<br>
	<li><a name="ex_set_option"><a href="#ex"><b>検索オプションを保存</b></a></a><br>
	この項目にチェックを入れると詳細画面での検索時に前回検索時に使用したオプションをあらかじめ選択された状態にすることができます<br>
	<br><br><a href="#top">▲ページ先頭に戻る</a>
</ul>
<hr align="center">

<!-- Footer Space Output -->
<?php if(isset($text['foot_sp'])) { echo $text['foot_sp']; } ?>
<!-- /Footer Space Output -->

<!-- Copy Right Output -->
<div align="center">
<?php cr(); ?><br />
<?php printFooterAd(); ?>
</div>
<!-- /Copy Right Output -->

</body>
</html>