<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<title>管理室 &gt;&gt; デッドリンクチェック</title>
<link href="css/admin.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#2F5376" topmargin="0" marginheight="0" leftmargin="0" marginwidth="0">
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#2F5376">
  <tr>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_left.gif">&nbsp;</td>
    <td><a href="<?php echo $cfg['home']; ?>" target="_blank"><img src="<?php echo $cfg['img_path_url']; ?>admin/logo.gif" alt="ホームページ" width="206" height="80" border="0"></a><a href="<?php echo $cfg['home']; ?>"></a></td>
    <td align="right"><?php echo $text['menu_bar']; ?></td>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_right.gif">&nbsp;</td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
  <tr>
    <td align="center"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="650" height="1"></td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#2F5376">
  <tr>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_left.gif"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="10" height="4"></td>
    <td colspan="2"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="630" height="4"></td>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_right.gif"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="10" height="4"></td>
  </tr>
  <form action="<?php echo $cfg['admin']; ?>" method="post" lang="ja">
  <tr>
    <td background="<?php echo $cfg['img_path_url']; ?>admin/bg_left.gif">&nbsp;</td>
    <td class="title">管理トップ &gt;&gt; デッドリンクチェック</td>
    <td align="right"><?php echo $admin_listbox; ?></td>
    <td background="<?php echo $cfg['img_path_url']; ?>admin/bg_right.gif">&nbsp;</td>
  </tr>
  </form>
  <tr>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_left.gif"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="10" height="4"></td>
    <td colspan="2"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="630" height="4"></td>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_right.gif"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="10" height="4"></td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
  <tr>
    <td align="center"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="650" height="1"></td>
  </tr>
</table>

<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#2F5376">
  <tr>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_left.gif">&nbsp;</td>
    <td valign="top"><br>
        <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table_out">
          <form name="form1" method="post" action="<?php echo $cfg['admin']; ?>">
            <tr>
              <td><table width="100%" border="0" cellpadding="0" cellspacing="1">
                  <tr>
                    <td colspan="2" class="table_in_header"><a name="settei"></a>リンク切れ報告の設定</td>
                  </tr>
                  <tr>
                    <td class="table_in_leftcell"><strong>報告する最定数</strong></td>
                    <td class="table_in_rightcell"><input name="no_link_min" type="text" class="form" value="<?php echo $cfg['no_link_min']; ?>" size="4">                    </td>
                  </tr>
                  <tr>
                    <td class="table_in_leftcell"><strong>通知を拒否するIPアドレス</strong><br>
                      <br>
                    複数指定する場合には半角カンマ( , )で区切ってください。ここで設定した文字列を含むIPアドレスからリンク切れの報告があっても報告リストには書き込まれなくなります。</td>
                    <td class="table_in_rightcell"><input name="no_link_ip" type="text" class="form" value="<?php echo $cfg['no_link_ip']; ?>" size="60">                    </td>
                  </tr>

                  <tr>
                    <td class="table_in_leftcell">&nbsp;</td>
                    <td class="table_in_rightcell"><input name="submit" type="submit" class="form" value="送信">
                        <input name="pass" type="hidden" value="<?php echo $_POST['pass']; ?>">
                        <input name="mode" type="hidden" value="cfg_make"></td>
                  </tr>
              </table></td>
            </tr>
          </form>
        </table>
        <br>
        <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table_out">
          <form name="form1" method="post" action="<?php echo $cfg['admin']; ?>">
            <tr>
              <td><table width="100%" border="0" cellpadding="0" cellspacing="1">
                  <tr>
                    <td colspan="2" class="table_in_header">チェック用ファイルのダウンロード(<span class="attention_red">Windows</span>専用)</td>
                  </tr>
                  <tr>
                    <td class="table_in_leftcell">デッドリンクチェック用ファイルをダウンロードします。この機能を使用する場合にはWindows用フリーソフト[<a href="http://www.nakka.com/" target="_blank">WWWC</a>]が必要です。</td>
                    <td class="table_in_rightcell"><input name="submit" type="submit" class="form" value="ダウンロード実行">
                      <input name="pass" type="hidden" id="pass" value="<?php echo $_POST['pass']; ?>">
                      <ul>
                        <input name="mode" type="hidden" id="mode" value="dl_check_dl">
                    </ul></td>
                  </tr>

                  <tr>
                    <td class="table_in_leftcell">&nbsp;</td>
                    <td class="table_in_rightcell">&nbsp;</td>
                  </tr>
              </table></td>
            </tr>
          </form>
    </table>
        <br>
        <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table_out">
          <form name="form1" method="post" action="<?php echo $cfg['admin']; ?>">
            <tr>
              <td><table width="100%" border="0" cellpadding="0" cellspacing="1">
                  <tr>
                    <td colspan="2" class="table_in_header">デッドリンクチェック実行</td>
                  </tr>
                  <tr>
                    <td class="table_in_leftcell"><strong>WWWCで生成したファイル名<br>
                      <br>
            </strong>[<a href="http://www.nakka.com/" target="_blank">WWWC</a>]で生成したファイルを元にデッドリンクチェックを実行します。結果は上書き保存されます。</td>
                    <td class="table_in_rightcell"><input name="checkfile" type="text" class="form" value="log/Item.dat">                    </td>
                  </tr>
                  <tr>
                    <td class="table_in_leftcell">&nbsp;</td>
                    <td class="table_in_rightcell"><input name="submit23" type="submit" class="form" value="送信">
                        <input name="pass" type="hidden" value="<?php echo $_POST['pass']; ?>">
                        <input name="mode" type="hidden" id="mode" value="dl_check_act"></td>
                  </tr>
              </table></td>
            </tr>
          </form>
        </table>
      <br>
      <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table_out">
      <form name="form1" method="post" action="regist_ys.php">
        <tr>
          <td><table width="100%" border="0" cellpadding="0" cellspacing="1" style="max-width:100%;">
              <tr>
                <td  class="table_in_header">ユーザ報告のリンク切れデータ</td>
              </tr>
              <tr>
                <td class="table_in_leftcell">
					<div>
					<div>ユーザ(訪問者)の方が報告してくださったリンク切れと思われるサイトのリストです。</div>
					<div>クリックすると、報告数と詳細が表示されます。</div>
					<p>- 処理区分</p>
					<ul>
						<li>
							<div>データを削除する場合には、処理区分で[削除]を選択してください。</div>
						</li>
						<li>
							<div>データが存在している場合で、このリストから消去したい場合には[存在]を選択してください。この場合、登録データは削除されません</div>
						</li>
						<li>
							<div>とりあえずこのリストに残しておきたい場合には[保留]を選択してください。</div>
						</li>
					</ul>
					<p>- 悪戯報告への対処</p>
					<div>万が一いたずらなどで困っている場合には、リンク切れ報告の設定(このページの最上段)から該当するIPを拒否する設定にしてください。</div>
					<p>- 報告種別</p>
					<div>移転=ホームページ移転/リンク=リンク切れ/バナー=バナーリンク切れ/違反=規約違反/他=その他/ の略です。</div>
				</td>
              </tr>
			  <tr>
			  <td style="background-color:gray;">
<?php
if($report) {
	foreach($report as $row) {
		if($cfg["no_link_min"] <= $row["total"]) {
?>
					<style type="text/css">
						#report_<?php echo $row['id']; ?>
						{
							
							margin:5px 0;
							background-color:white;
							border:2px solid black;
							border-left:10px solid black;
							padding:1px 0 0 5px;							
						}
						#detail_<?php echo $row['id']; ?>
						{
							display:none;
							visibility:hidden;
						}
						#detail_<?php echo $row['id']; ?> > div
						{
							border-top:1px solid black;
							margin:10px 0;
						}
						#report_<?php echo $row['id']; ?>:hover,
						#report_<?php echo $row['id']; ?>:focus
						{
							border:2px solid darkred;
							border-left:10px solid darkred;
						}
						#report_<?php echo $row['id']; ?>:focus-within #detail_<?php echo $row['id']; ?>
						{
							display:block;
							visibility:visible;
						}

					</style>
					<div id="report_<?php echo $row['id']; ?>" tabindex="0">
						<div class="flex_box">
							<div class="site_name">
								<a href="<?php echo $row['url']; ?>" target="_blank"><?php echo $row['title']; ?></a>
							</div>
							<div class="site_banner">
								<?php
									if(!empty($row["banner"])) {
										echo "<img src=\"{$row['banner']}\" border=\"0\" />";
									} else {
										echo "バナー未登録";
									}
								?>
							</div>
							<div class="site_status">
								<select name="id[<?php echo $row['id']; ?>]" class="form">
									<option value="" selected>保留</option>
									<option value="off">存在</option>
									<option value="on">削除</option>
								</select>
							</div>
						</div>
						<div id="detail_<?php echo $row['id']; ?>">
							<div>
								<div style="font-weight:bold; padding:5px 0;">
									・報告数
								</div>
								<div style="padding:0px 10px;">
									<div class="table">
										<div class="table_header">
											<div class="table_row">
												<div class="table_cell">移転</div>
												<div class="table_cell">リンク</div>
												<div class="table_cell">バナー</div>
												<div class="table_cell">違反</div>
												<div class="table_cell">その他</div>
											</div>
										</div>
										<div class="table_row" style="text-align:center;">
											<div class="table_cell">
												<?php echo $row["no_url"]; ?>
											</div>
											<div class="table_cell">
												<?php echo $row["move"]; ?>
											</div>
											<div class="table_cell">
												<?php echo $row["no_banner"]; ?>
											</div>
											<div class="table_cell">
												<?php echo $row["violation"]; ?>
											</div>
											<div class="table_cell">
												<?php echo $row["other"]; ?>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div style="font-weight:bold; padding:5px 0;">
									・詳細
								</div>
								<div style="padding:0px 10px;">
									<?php
										if(is_array($row['data'])){
											print "<div class=\"table\">\n";
											print "	<div class=\"table_header\">\n";
											print "		<div class=\"table_cell\">種別</div>\n";
											print "		<div class=\"table_cell\">名前</div>\n";
											print "		<div class=\"table_cell\">メールアドレス</div>\n";
											print "		<div class=\"table_cell\">IP</div>\n";
											print "		<div class=\"table_cell\">コメント</div>\n";
											print "	</div>\n";
											foreach ($row['data'] as $line){
												if($line){
													$report_type = "<ul style=\"list-style-type:square; margin:0px; padding-left:10px;\">";
													if($line['no_url']){$report_type .= "<li>リンク</li>";}
													if($line['move']){$report_type .= "<li>移転</li>";}
													if($line['no_banner']){$report_type .= "<li>バナー</li>";}
													if($line['violation']){$report_type .= "<li>違反</li>";}
													if($line['other']){$report_type .= "<li>その他</li>";}
													$report_type .= "</ul>";
														print "	<div class=\"table_row\">\n";
															print "		<div class=\"table_cell\" style=\"width:100px;\">" . $report_type . "</div>\n";
															print "		<div class=\"table_cell\" style=\"width:120px;\">" . $line['name'] . "</div>\n";
															print "		<div class=\"table_cell\" style=\"width:150px;\">" . $line['email'] . "</div>\n";
															print "		<div class=\"table_cell\" style=\"width:120px;\">" . $line['ip'] . "</div>\n";
															print "		<div class=\"table_cell\">" . $line['comment'] . "</div>\n";
														print "	</div>\n";
												}
											}
											print "</div>\n";
										}
									?>
								</div>
							</div>
						</div>
					</div>
<?php
		}
	}
}
?>
			</td>
			</tr>
              <tr>
                <td colspan="9" align="center" class="table_in_leftcell"><input name="submit" type="submit" class="form" value="変更反映">
                  &nbsp;
                  <input name="submit" type="reset" class="form" value="リセット">
                  <input name="pass" type="hidden" value="<?php echo $_POST['pass']; ?>">
                  <input type="hidden" name="no_link" value="on">
                  <input name="mode" type="hidden" value="act_del">
                  <input type="hidden" name="del_mode" value="multi">
                  <input type="hidden" name="changer" value="admin"></td>
              </tr>
          </table></td>
        </tr>
      </form>
    </table>
      <br>
      <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table_out">
        <tr>
          <td><table width="100%" border="0" cellpadding="0" cellspacing="1">
              <tr>
                <td align="center" class="table_in_header"><?php
// 著作権表示ルーチン
cr();
?>
                </td>
              </tr>
          </table></td>
        </tr>
      </table></td>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_right.gif">&nbsp;</td>
  </tr>
</table>
</body>
</html>