<?php
// リストメニューの設定
if($cfg["keyrank"]) {
    $Ckeyrank_0 = "";
    $Ckeyrank_1 = " selected";
} else {
    $Ckeyrank_0 = " selected";
    $Ckeyrank_1="";
}
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<title>管理室 &gt;&gt; キーワードランキングの設定</title>
<link href="css/admin.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#2F5376" topmargin="0" marginheight="0" leftmargin="0" marginwidth="0">
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#2F5376">
  <tr>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_left.gif">&nbsp;</td>
    <td><a href="<?php echo $cfg['home']; ?>" target="_blank"><img src="<?php echo $cfg['img_path_url']; ?>admin/logo.gif" alt="ホームページ" width="206" height="80" border="0"></a><a href="<?php echo $cfg['home']; ?>"></a></td>
    <td align="right"><?php echo $text['menu_bar']; ?></td>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_right.gif">&nbsp;</td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
  <tr>
    <td align="center"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="650" height="1"></td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#2F5376">
  <tr>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_left.gif"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="10" height="4"></td>
    <td colspan="2"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="630" height="4"></td>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_right.gif"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="10" height="4"></td>
  </tr>
  <form action="<?php echo $cfg['admin']; ?>" method="post" lang="ja">
  <tr>
    <td background="<?php echo $cfg['img_path_url']; ?>admin/bg_left.gif">&nbsp;</td>
    <td class="title">管理トップ &gt;&gt; キーワードランキングの設定</td>
    <td align="right"><?php echo $admin_listbox; ?></td>
    <td background="<?php echo $cfg['img_path_url']; ?>admin/bg_right.gif">&nbsp;</td>
  </tr>
  </form>
  <tr>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_left.gif"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="10" height="4"></td>
    <td colspan="2"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="630" height="4"></td>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_right.gif"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="10" height="4"></td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
  <tr>
    <td align="center"><img src="<?php echo $cfg['img_path_url']; ?>admin/spacer.gif" alt="spacer.gif" width="650" height="1"></td>
  </tr>
</table>

<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#2F5376">
  <tr>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_left.gif">&nbsp;</td>
    <td valign="top"><br>
        <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table_out">
          <form name="form1" method="post" action="<?php echo $cfg['admin']; ?>">
            <tr>
              <td><table width="100%" border="0" cellpadding="0" cellspacing="1">
                  <tr>
                    <td colspan="2" class="table_in_header">キーワードランキングの環境設定</td>
                  </tr>
                  <tr>
                    <td class="table_in_leftcell"><strong>キーワードランキングのON/OFF</strong></td>
                    <td class="table_in_rightcell"><select name="keyrank" class="form" id="keyrank">
                        <option value="0"<?php echo $Ckeyrank_0; ?>>実施しない</option>
                        <option value="1"<?php echo $Ckeyrank_1; ?>>実施する</option>
                    </select></td>
                  </tr>
                  <tr>
                    <td class="table_in_leftcell"><strong>管理室で表示する最低数</strong></td>
                    <td class="table_in_rightcell"><input name="keyrank_min" type="text" class="form" value="<?php echo $cfg['keyrank_min']; ?>" size="3"></td>
                  </tr>
                  <tr>
                    <td class="table_in_leftcell"><strong>ランキングで表示する最低数</strong></td>
                    <td class="table_in_rightcell"><input name="keyrank_cut" type="text" class="form" value="<?php echo $cfg['keyrank_cut']; ?>" size="3"></td>
                  </tr>
                  <tr>
                    <td class="table_in_leftcell"><strong>ランキングの集計期間</strong></td>
                    <td class="table_in_rightcell"><input name="keyrank_kikan" type="text" class="form" value="<?php echo $cfg['keyrank_kikan']; ?>" size="3">
                    日ごとに集計</td>
                  </tr>
                  <tr>
                    <td class="table_in_leftcell"><strong>ランキングの表示数</strong></td>
                    <td class="table_in_rightcell"><input name="keyrank_hyouji" type="text" class="form" value="<?php echo $cfg['keyrank_hyouji']; ?>" size="3">
                    位まで表示</td>
                  </tr>

                  <tr>
                    <td class="table_in_leftcell">&nbsp;</td>
                    <td class="table_in_rightcell"><input name="submit" type="submit" class="form" value="送信">
                        <input name="pass" type="hidden" value="<?php echo $_POST['pass']; ?>">
                        <input name="mode" type="hidden" value="cfg_make"></td>
                  </tr>
              </table></td>
            </tr>
          </form>
        </table>
        <br>
        <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table_out">
          <form name="form1" method="post" action="<?php echo $cfg['admin']; ?>">
            <tr>
              <td><table width="100%" border="0" cellpadding="0" cellspacing="1">
                  <tr>
                    <td colspan="2" class="table_in_header">集計対象外ワード登録</td>
                  </tr>
                  <tr>
                    <td class="table_in_leftcell"><strong>集計対象外ワード</strong><br>
                      <br>
                    キーワードランキングの集計から除外したいワードがある場合に設定してください。複数指定する場合には、半角カンマ( , )で区切って入力してください。<br></td>
                    <td class="table_in_rightcell"><input name="del_key_list" type="text" class="form" size="60">                    </td>
                  </tr>

                  <tr>
                    <td class="table_in_leftcell">&nbsp;</td>
                    <td class="table_in_rightcell"><input name="submit2" type="submit" class="form" value="送信">
                        <input name="pass" type="hidden" value="<?php echo $_POST['pass']; ?>">
                    <input name="mode" type="hidden" value="key_cfg_del_word_act"></td>
                  </tr>
              </table></td>
            </tr>
          </form>
    </table>
        <br>
        <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table_out">
          <form name="form1" method="post" action="<?php echo $cfg['admin']; ?>">
            <tr>
              <td><table width="100%" border="0" cellpadding="0" cellspacing="1">
                  <tr>
                    <td colspan="2" class="table_in_header">キーワードの削除</td>
                  </tr>
                  <tr>
                    <td class="table_in_leftcell"><strong>削除するキーワードのポイント数</strong></td>
                    <td class="table_in_rightcell"><input name="del_max" type="text" class="form" value="<?php echo $cfg['keyrank_min']; ?>" size="3">
                    ポイント以下のワードを削除</td>
                  </tr>
                  <tr>
                    <td class="table_in_leftcell">&nbsp;</td>
                    <td class="table_in_rightcell"><input name="submit23" type="submit" class="form" value="送信">
                        <input name="pass" type="hidden" value="<?php echo $_POST['pass']; ?>">
                    <input name="mode" type="hidden" value="key_del_act"></td>
                  </tr>
              </table></td>
            </tr>
          </form>
        </table>
      <br>
    <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table_out">
      <form name="form1" method="post" action="<?php echo $cfg['admin']; ?>">
        <tr>
          <td><table width="100%" border="0" cellpadding="0" cellspacing="1">
              <tr>
                <td colspan="6" class="table_in_header">キーワードの表示/非表示設定(<span class="attention_red">保留中</span>の検索ワード)</td>
              </tr>
              <tr>
                <td colspan="6" class="table_in_leftcell">ポイントが<strong><?php echo $cfg['keyrank_min']; ?></strong>未満の検索ワードは省略しています。なお、英字は全て小文字に変換されていますので、ランキング中の表示名称を変更したい場合には[表示名称]に表示するワードを記入してください。</td>
                </tr>
              <tr>
                <td align="center" class="table_in_leftcell"><strong>pt.</strong></td>
                <td align="center" class="table_in_leftcell"><strong>公開する</strong></td>
                <td align="center" class="table_in_leftcell"><strong>禁止する</strong></td>
                <td align="center" class="table_in_leftcell"><strong>削除する</strong></td>
                <td align="center" class="table_in_leftcell"><strong>保留</strong></td>
                <td align="center" class="table_in_leftcell"><strong>検索ワード</strong></td>
                </tr>
<?php
foreach($rowset as $row) {
	if(!$row['opn'] && !$row['bad']) {
		$PR_key = $row['wd'];
		$PR_key = str_replace("’", "'", $PR_key);
		$PR_key_en = urlencode($PR_key);
		if($row['pt'] < $cfg['keyrank_min']) {
			break;
		}
		?>
              <tr>
                <td align="center" class="table_in_rightcell"><?php echo $row['pt']; ?></td>
                <td align="center" class="table_in_rightcell"><input name="change[<?php echo $row['wd']; ?>]" type="radio" class="form" value="open"></td>
                <td align="center" class="table_in_rightcell"><input name="change[<?php echo $row['wd']; ?>]" type="radio" class="form" value="bad"></td>
                <td align="center" class="table_in_rightcell"><input name="change[<?php echo $row['wd']; ?>]" type="radio" class="form" value="del"></td>
                <td align="center" class="table_in_rightcell"><input name="change[<?php echo $row['wd']; ?>]" type="radio" class="form" value="" checked></td>
                <td align="center" class="table_in_rightcell"><a href="<?php echo $cfg['search']; ?>?word=<?php echo $PR_key_en; ?>&mode=search" target="_blank"><?php echo $PR_key; ?></a></td>
                </tr>
<?php
	}
}
?>
              <tr>
                <td colspan="6" align="center" class="table_in_leftcell">
                  <input name="submit" type="submit" class="form" id="submit" value="変更反映">&nbsp;
                  <input name="submit" type="reset" class="form" id="submit" value="リセット">
                  <input name="pass" type="hidden" value="<?php echo $_POST['pass']; ?>">
                  <input name="mode" type="hidden" value="key_cfg_act">                </td>
                </tr>
          </table></td>
        </tr>
      </form>
    </table>
    <br>
    <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table_out">
      <form name="form1" method="post" action="<?php echo $cfg['admin']; ?>">
        <tr>
          <td><table width="100%" border="0" cellpadding="0" cellspacing="1">
              <tr>
                <td colspan="6" class="table_in_header">キーワードの表示/非表示設定(<span class="attention_red">公開中</span>の検索ワード)</td>
              </tr>
              <tr>
                <td colspan="6" class="table_in_leftcell">ポイントが<strong>
                  <?php echo $cfg['keyrank_min']; ?>
                </strong>未満の検索ワードは省略しています。なお、英字は全て小文字に変換されていますので、ランキング中の表示名称を変更したい場合には[表示名称]に表示するワードを記入してください。</td>
              </tr>
              <tr>
                <td align="center" class="table_in_leftcell"><strong>pt.</strong></td>
                <td align="center" class="table_in_leftcell"><strong>公開解除</strong></td>
                <td align="center" class="table_in_leftcell"><strong>禁止する</strong></td>
                <td align="center" class="table_in_leftcell"><strong>現状維持</strong></td>
                <td align="center" class="table_in_leftcell"><strong>検索ワード</strong></td>
                <td align="center" class="table_in_leftcell"><strong>表示名称</strong></td>
              </tr>
<?php
foreach($rowset as $row) {
	if($row["opn"]) {
		$PR_key = $row["wd"];
		$PR_key = str_replace("’", "'", $PR_key);
		$PR_key_en = urlencode($PR_key);
		?>
              <tr>
                <td align="center" class="table_in_rightcell"><?php echo $row['pt']; ?></td>
                <td align="center" class="table_in_rightcell"><input name="change[<?php echo $row['wd']; ?>]" type="radio" class="form" value="close"></td>
                <td align="center" class="table_in_rightcell"><input name="change[<?php echo $row['wd']; ?>]" type="radio" class="form" value="bad"></td>
                <td align="center" class="table_in_rightcell"><input name="change[<?php echo $row['wd']; ?>]" type="radio" class="form" value="open" checked></td>
                <td align="center" class="table_in_rightcell"><a href="<?php echo $cfg['search']; ?>?word=<?php echo $PR_key_en; ?>&mode=search" target="_blank"><?php echo $PR_key; ?></a></td>
                <td align="center" class="table_in_rightcell"><input name="view[<?php echo $row['wd']; ?>]" type="text" class="form" id="view[<?php echo $row['wd']; ?>]" value="<?php echo $row['view']; ?>"></td>
              </tr>
              <?php
	}
}
?>
              <tr>
                <td colspan="6" align="center" class="table_in_leftcell"><input name="submit" type="submit" class="form" id="submit2" value="変更反映">
                  &nbsp;
                  <input name="submit" type="reset" class="form" id="submit" value="リセット">
                  <input name="pass" type="hidden" id="pass" value="<?php echo $_POST['pass']; ?>">
                  <input name="mode" type="hidden" id="mode" value="key_cfg_act">
                </td>
              </tr>
          </table></td>
        </tr>
      </form>
    </table>
    <br>
    <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table_out">
      <form name="form1" method="post" action="<?php echo $cfg['admin']; ?>">
        <tr>
          <td><table width="100%" border="0" cellpadding="0" cellspacing="1">
              <tr>
                <td colspan="2" class="table_in_header">キーワードの表示/非表示設定(<span class="attention_red">集計対象外</span>の検索ワード)</td>
              </tr>

              <tr>
                <td width="50" align="center" class="table_in_leftcell"><strong>解除</strong></td>
                <td align="center" class="table_in_rightcell"><strong>検索ワード</strong></td>
              </tr>
<?php
foreach($rowset as $row) {
	if($row["bad"]) {
		$PR_key = $row["wd"];
		$PR_key = str_replace("’", "'", $PR_key);
		$PR_key_en = urlencode($PR_key);
		?>
              <tr>
                <td align="center" class="table_in_leftcell"><input name="change[<?php echo $row['wd']; ?>]" type="checkbox" class="form" id="change[<?php echo $row['wd']; ?>]" value="close"></td>
                <td class="table_in_rightcell"><a href="<?php echo $cfg['search']; ?>?word=<?php echo $PR_key_en; ?>&mode=search" target="_blank"><?php echo $PR_key; ?></a></td>
              </tr>
              <?php
	}
}
?>
              <tr>
                <td align="center" class="table_in_leftcell">&nbsp;</td>
                <td align="center" class="table_in_rightcell"><input name="submit" type="submit" class="form" value="変更反映">
                  &nbsp;
                  <input name="submit" type="reset" class="form" value="リセット">
                  <input name="pass" type="hidden" id="pass" value="<?php echo $_POST['pass']; ?>">
                  <input name="mode" type="hidden" id="mode" value="key_cfg_act"></td>
              </tr>
          </table></td>
        </tr>
      </form>
    </table>
    <br>
    <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" class="table_out">
      <tr>
        <td><table width="100%" border="0" cellpadding="0" cellspacing="1">
            <tr>
              <td align="center" class="table_in_header"><?php
// 著作権表示ルーチン
cr();
?>
              </td>
            </tr>
        </table></td>
      </tr>
    </table></td>
    <td width="10" background="<?php echo $cfg['img_path_url']; ?>admin/bg_right.gif">&nbsp;</td>
  </tr>
</table>
</body>
</html>