<?php echo '<?xml version="1.0" encoding="utf-8"?>'; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
<title>ヘルプ | <?php echo $cfg['search_name']; ?></title>
<meta name="keywords" content="<?php echo $title; ?>,検索ｴﾝｼﾞﾝのﾍﾙﾌﾟ" />
<meta name="description" content="<?php echo $title; ?>の検索ｴﾝｼﾞﾝのﾍﾙﾌﾟ表示です" />
<style type="text/css">
<![CDATA[
a:link{color:<?php echo LINK_COLOR; ?>;}
a:focus{color:<?php echo ALINK_COLOR; ?>;}
a:visited{color:<?php echo VLINK_COLOR; ?>;}
]]>
</style>
</head>
<body><div style="font-size:x-small;">
<a name="top"></a>

<div style="background-color:<?php echo HR_COLOR; ?>;">
<img src="./img/spacer.gif" width="1" height="1" /><br /></div>
<div style="text-align:center; background-color:<?php echo ONE_BACK_COLOR; ?>; color:<?php echo ONE_STR_COLOR; ?>;" align="center">
<?php echo $cfg['search_name']; ?></div>

<div style="background-color:<?php echo HR_COLOR; ?>;">
<img src="./img/spacer.gif" width="1" height="1" /><br />
</div>
<div style="text-align:center; background-color:<?php echo TWO_BACK_COLOR; ?>; color:<?php echo TWO_STR_COLOR; ?>;" align="center">
    <div align="center">[<a href="index.php?mode=new">新着ｻｲﾄ</a>|<a href="index.php?mode=rank">ﾗﾝｷﾝｸﾞ</a>|ｻｲﾄ登録]</div>
</div>
<div style="background-color:<?php echo HR_COLOR; ?>;">
    <img src="./img/spacer.gif" width="1" height="1" /><br />
</div>

<!-- /Menu Bar Output -->
<!-- Navigation Bar Output -->
<div style="text-align:center; background-color:<?php echo THREE_BACK_COLOR; ?>; <?php echo THREE_STR_COLOR; ?>" align="center">
<a href="<?php echo $cfg['home']; ?>">ﾎｰﾑ</a>&nbsp;&gt;&nbsp;HELP
<!-- /Navigation Bar Output -->
<!-- ここから設定 -->
<div style="background-color:<?php echo HR_COLOR; ?>;">
<img src="./img/spacer.gif" width="1" height="1" /><br />
</div>
</div>

<?php echo $cfg['search_name']; ?>&nbsp;はﾃﾞｨﾚｸﾄﾘ型ｻｰﾁｴﾝｼﾞﾝです｡
<br />このｻｰﾁｴﾝｼﾞﾝに登録されている様々な情報･ﾎｰﾑﾍﾟｰｼﾞを見つけることができます｡


&lt;&lt;ﾎｰﾑﾍﾟｰｼﾞを探す&gt;&gt;
【<font color="#6666CC"><b>ｷｰﾜｰﾄﾞで探す</b></font>】
<br />探したいﾎｰﾑﾍﾟｰｼﾞに関係するｷｰﾜｰﾄﾞを入力して､自分の探しているﾎｰﾑﾍﾟｰｼﾞを見つけることができます｡
<br />ｷｰﾜｰﾄﾞは複数指定することも可能です｡
<br />複数指定する場合には､ｷｰﾜｰﾄﾞを半角ｽﾍﾟｰｽで区切って入力してください｡
<br />[例] ｽﾎﾟｰﾂ 野球
<br />ｷｰﾜｰﾄﾞ検索は&nbsp;<a href="<?php echo $cfg['home']; ?>">ﾄｯﾌﾟﾍﾟｰｼﾞ</a>&nbsp;や各ｶﾃｺﾞﾘのﾍﾟｰｼﾞからすることができます｡
<br /><br />
&lt;&lt;ﾎｰﾑﾍﾟｰｼﾞを登録する&gt;&gt;</font>
【<font color="#6666CC">新しく自分のﾎｰﾑﾍﾟｰｼﾞを登録する</font>】
<br />自分のﾎｰﾑﾍﾟｰｼﾞをお持ちの方は宣伝のためにもぜひ登録してみてください｡
<br />登録の方法は､
(1)自分のﾎｰﾑﾍﾟｰｼﾞのﾃｰﾏ（ｼﾞｬﾝﾙ）にあったｶﾃｺﾞﾘを&nbsp;<a href="<?php echo $cfg['home']; ?>">ﾄｯﾌﾟﾍﾟｰｼﾞ</a>&nbsp;又は&nbsp;<a href="sitemap.php">ｻｲﾄﾏｯﾌﾟ</a>&nbsp;から探します｡
<br />(2)そのﾍﾟｰｼﾞの&nbsp;[&nbsp;<font color="#6666CC">このｶﾃｺﾞﾘに新規登録</font>&nbsp;]&nbsp;というﾘﾝｸがある場合には､
<br />登録することができますのでﾘﾝｸをｸﾘｯｸして登録画面から登録してください｡
<br />登録する場合には登録画面の&nbsp;[&nbsp;<strong>登録上の注意</strong>&nbsp;]&nbsp;をよく読んでから登録してください｡
<br />
【<font color="#6666CC">以前に登録したﾎｰﾑﾍﾟｰｼﾞの登録内容を変更する</font>】
<br />[<a href="regist.php?mode=enter">修正･削除</a>] をｸﾘｯｸして
自分のﾎｰﾑﾍﾟｰｼﾞの登録時のIDを入れて内容変更画面にﾛｸﾞｲﾝするか､
<br />ｻｰﾁｴﾝｼﾞﾝからﾀｲﾄﾙ･ﾒｰﾙｱﾄﾞﾚｽ･URLなどから検索して､
<br />自分のﾎｰﾑﾍﾟｰｼﾞﾃﾞｰﾀの横にある｢修正･削除｣というﾘﾝｸをｸﾘｯｸして､
<br />『修正･削除画面』に行きﾊﾟｽﾜｰﾄﾞを入力して､そこから登録内容の修正を行ってください｡

<!-- Footer Space Output -->
<?php if(isset($text['foot_sp'])) { echo $text['foot_sp']; } ?>
<!-- /Footer Space Output -->

<!-- Copy Right Output -->
<div align="center"><?php mcr(); ?></div>
<!-- /Copy Right Output -->

</div>
</body></html>