<?php echo '<?xml version="1.0" encoding="utf-8"?>'; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
<meta name="Keywords" content="norobot">
<meta name="Robots" content="noindex,nofollow">
<meta name="googlebot" content="noarchive">
<title>登録データ修正完了</title>
<style type="text/css">
<![CDATA[
a:link{color:<?php echo LINK_COLOR; ?>;}
a:focus{color:<?php echo ALINK_COLOR; ?>;}
a:visited{color:<?php echo VLINK_COLOR; ?>;}
]]>
</style>
</head>
<body><div style="font-size:x-small;">


<div style="background-color:#0873C6;">
<img src="./img/spacer.gif" width="1" height="1" /><br /></div>
<div style="text-align:center; background-color:#6666cc; color:#ffffff;" align="center">
<?php echo $cfg['search_name']; ?></div>

<div style="background-color:#0873C6;">
<img src="./img/spacer.gif" width="1" height="1" /><br />
</div>
<div style="text-align:center; background-color:#e1e1f7; color:#225882;" align="center">
    <div align="center">[<a href="index.php?mode=new">新着ｻｲﾄ</a>|<a href="index.php?mode=rank">ﾗﾝｷﾝｸﾞ</a>|ｻｲﾄ登録]</div>
</div>
<div style="background-color:#0873C6;">
    <img src="./img/spacer.gif" width="1" height="1" /><br />
</div>

<!-- /Menu Bar Output -->
<!-- Navigation Bar Output -->
<div style="text-align:center; background-color:#EFFEFF;" align="center">
<a href="<?php echo $cfg['home']; ?>">ﾎｰﾑ</a>&nbsp;&gt;&nbsp;登録ﾃﾞｰﾀ修正完了
<!-- /Navigation Bar Output -->
<!-- ここから設定 -->
<div style="background-color:#0873C6;">
<img src="./img/spacer.gif" width="1" height="1" /><br />
</div>
</div>


▼登録ﾃﾞｰﾀ修正が以下のとおり完了しましたのでご確認ください<br /><br />
<!--ID-->
【ID】<br />
<?php echo $Slog[0]; ?><br />
<!--お名前-->
【お名前】<br />
<?php echo $Slog[8]; ?><br />
<!--ﾒｰﾙｱﾄﾞﾚｽ-->
【ﾒｰﾙｱﾄﾞﾚｽ】<br />
<?php echo $Slog[9]; ?><br />
<!--ﾏｰｸ-->

<?php
if($PR_mark != '') {
?>
【ﾏｰｸ】<br />
<?php echo $PR_mark; ?><br />
<?php } ?>


<!--ﾎｰﾑﾍﾟｰｼﾞｱﾄﾞﾚｽ-->
【ｱﾄﾞﾚｽ】<br />
<a href="<?php echo $Slog[2]; ?>"><?php echo $Slog[2]; ?></a>
<br />
<?php
if(@$cfg_reg['bana_url'] && $Slog[12] != '') {
?>
<!--ﾀｲﾄﾙﾊﾞﾅｰのURL-->
【ﾀｲﾄﾙﾊﾞﾅｰのURL】<br />
<a href="<?php echo $Slog[12]; ?>"><?php echo $Slog[12]; ?></a>
<br />
<?php
}
?>
<!--ﾎｰﾑﾍﾟｰｼﾞのﾀｲﾄﾙ-->
【ﾎｰﾑﾍﾟｰｼﾞのﾀｲﾄﾙ】<br />
<?php echo $Slog[1]; ?><br />
<!--ﾎｰﾑﾍﾟｰｼﾞの紹介文-->
【ﾎｰﾑﾍﾟｰｼﾞの紹介文】<br />
<?php echo $Slog[6]; ?><br />
<!--登録するｶﾃｺﾞﾘ-->
【登録するｶﾃｺﾞﾘ】<br />
<?php echo mb_convert_kana($PR_kt, 'ka', 'UTF-8'); ?>
<?php
echo mb_convert_kana(preview_category2(), 'ka', 'UTF-8');
?>
<br />
<!--ｷｰﾜｰﾄﾞ-->
【ｷｰﾜｰﾄﾞ】
<?php echo $Slog[15]; ?><br />
<!--ここまで-->
<br /><br />
【　<a href="<?php echo $cfg['home']; ?>">ﾎｰﾑに戻る</a>　】
</form>
<!-- Copy Right Output -->
<div align="center"><?php mcr(); ?></div>
<!-- /Copy Right Output -->

</div>
</body>
</html>