<?php echo '<?xml version="1.0" encoding="utf-8"?>'; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
<title>新規ホームページ登録(管理者用)</title>
<style type="text/css">
<![CDATA[
a:link{color:<?php echo LINK_COLOR; ?>;}
a:focus{color:<?php echo ALINK_COLOR; ?>;}
a:visited{color:<?php echo VLINK_COLOR; ?>;}
]]>
</style>
</head>
<body><div style="font-size:x-small;">
<a name="top"></a>
<form action="<?php echo htmlspecialchars($cfg['admin']); ?>" method="post">
<!-- Menu Bar Output -->
<?php echo $text['menu_bar']; ?>
<!-- /Menu Bar Output -->
新規ﾎｰﾑﾍﾟｰｼﾞ登録(管理者用)
<!-- /Navigation Bar Output -->
<input type="hidden" name="pass" value="<?php echo htmlspecialchars($_POST['pass']); ?>">
<input type="hidden" name="mode" value="kanri">
<input type="submit" value="管理室に戻る">
<br>
</form>
<form action="regist_ys.php" method="post">
<input type="hidden" name="mode" value="act_regist">
<input type="hidden" name="changer" value="<?php echo htmlspecialchars($_POST['changer']); ?>">
<input type="hidden" name="pass" value="<?php echo htmlspecialchars($_POST['pass']); ?>">
▼項目名の横に<font color="#FF0000">☆</font>が付いている項目は記入必須項目です<br><br>
<!--お名前-->
【お名前】<font color="#FF0000"><?php echo htmlspecialchars($cfg_reg['Fname']); ?></font><br>
※ﾊﾝﾄﾞﾙﾈｰﾑも可です<br>
※全角<?php echo $cfg_reg['Mname']; ?>文字以内<br>
<input type="text" name="Fname" value="<?php echo htmlspecialchars($_POST['Fname']); ?>" size="25">
<br>
<!--ﾒｰﾙｱﾄﾞﾚｽ-->
【ﾒｰﾙｱﾄﾞﾚｽ】<font color="#FF0000"><?php echo htmlspecialchars($cfg_reg['Femail']); ?></font><br>
※半角英数字<?php echo $cfg_reg['Memail']; ?>文字以内<br>
<input type="text" name="Femail" value="<?php echo htmlspecialchars($_POST['Femail']); ?>" size="25"><br>
<!--ﾒｰﾙ送信-->
【ﾒｰﾙ送信】<font color="#FF0000">☆</font>
※元々しない設定になっている場合には｢する｣を選択しても送信されません<br>
<select name="FCmail">
<option value="no" selected>しない
<option value="">する
</select>
<br>
<!--ﾊﾟｽﾜｰﾄﾞ-->
【ﾊﾟｽﾜｰﾄﾞ】<font color="#FF0000">☆</font>
※このﾊﾟｽﾜｰﾄﾞで今後､登録内容の修正ができます<br>
※半角英数字8文字以内<br>
<input type="password" name="Fpass" value="<?php echo htmlspecialchars($_POST['Fpass']); ?>" size="10"><br>
<input type="password" name="Fpass2" value="<?php echo htmlspecialchars($_POST['Fpass2']); ?>" size="10">(もう一度確認のため入力してください)
<br>
<!--ﾏｰｸ-->
<?php
PR_mark();
?>
<!--ﾎｰﾑﾍﾟｰｼﾞｱﾄﾞﾚｽ-->
【ﾎｰﾑﾍﾟｰｼﾞｱﾄﾞﾚｽ】
<font color="#FF0000"><?php echo htmlspecialchars($cfg_reg['Furl']); ?></font><br>
※半角英数字<?php echo $cfg_reg['Murl']; ?>文字以内<br>
<input type="text" name="Furl" value="<?php echo htmlspecialchars($_POST['Furl']); ?>" size="70"><br>
<?php
if(@$cfg_reg['bana_url']) {
?>
<!--ﾀｲﾄﾙﾊﾞﾅｰのURL-->
【ﾀｲﾄﾙﾊﾞﾅｰのURL】<font color="#FF0000"><?php echo htmlspecialchars($cfg_reg['Fbana_url']); ?></font>
※ﾊﾞﾅｰ(画像)のURLの最後が｢.gif｣｢.jpg｣｢.png｣のいずれかで終わるようにしてください｡
<br>※表示されるｻｲｽﾞは 横<?php echo $cfg_reg['Mbana_w']; ?>×縦<?php echo $cfg_reg['Mbana_h']; ?>(ﾋﾟｸｾﾙ)です｡ 
<br>
※半角英数字<?php echo $cfg_reg['Mbana_url']; ?>文字以内
<br><input type="text" name="Fbana_url" value="<?php echo htmlspecialchars($_POST['Fbana_url']); ?>" size="60">
<br>
<?php
}
?>
<!--ﾎｰﾑﾍﾟｰｼﾞのﾀｲﾄﾙ-->
【ﾎｰﾑﾍﾟｰｼﾞのﾀｲﾄﾙ】<font color="#FF0000"><?php echo htmlspecialchars($cfg_reg['Ftitle']); ?></font>
※全角<b><?php echo $cfg_reg['Mtitle']; ?></b>文字以内<br>
<input type="text" name="Ftitle" value="<?php echo htmlspecialchars($_POST['Ftitle']); ?>" size="25"><br>
<!--ﾎｰﾑﾍﾟｰｼﾞの紹介文-->
【ﾎｰﾑﾍﾟｰｼﾞの紹介文】<font color="#FF0000"><?php echo htmlspecialchars($cfg_reg['Fsyoukai']); ?></font>
※HTMLﾀｸﾞは使えません<br>
※全角<?php echo $cfg_reg['Msyoukai']; ?>文字以内<br>
<textarea wrap="soft" name="Fsyoukai" cols="50" rows="3"><?php echo htmlspecialchars($_POST['Fsyoukai']); ?></textarea><br>
<!--管理人のｺﾒﾝﾄ-->
【管理人のｺﾒﾝﾄ】
※HTMLﾀｸﾞは使えません<br>
※全角100文字以内<br>
<textarea wrap="soft" name="Fkanricom" cols="50" rows="3"><?php echo htmlspecialchars($_POST['Fkanricom']); ?></textarea><br>
<!--登録するｶﾃｺﾞﾘ-->
【登録するｶﾃｺﾞﾘ】<font color="#FF0000">☆</font>
<?php
print_category();
?>
<!--ｷｰﾜｰﾄﾞ-->
【ｷｰﾜｰﾄﾞ】<font color="#FF0000"><?php echo htmlspecialchars($cfg_reg['Fkey']); ?></font>
※あなたのﾎｰﾑﾍﾟｰｼﾞに関係が深いｷｰﾜｰﾄﾞを入力してください<br>
※複数ある場合にはｷｰﾜｰﾄﾞを半角ｽﾍﾟｰｽで区切ってください<br>
※全角<?php echo $cfg_reg['Mkey']; ?>文字以内<br>
<input type="text" name="Fkey" value="<?php echo htmlspecialchars($_POST['Fkey']); ?>" size="60"><br>
<!--ここまで-->
<br><br>
<input type="submit" value="&nbsp;登録する&nbsp;">&nbsp;<input type="reset" value="ﾘｾｯﾄ">
</form>
<hr align="center">

<!-- Copy Right Output -->
<div align="center"><?php mcr(); ?></div>
<!-- /Copy Right Output -->
</div>
</body>
</html>