<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="ui-mobile landscape min-width-320px min-width-480px min-width-768px min-width-1024px">
<head><meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
<title><?php echo $title; ?> | メッセージ表示 | <?php echo $cfg['sp_search_name']; ?></title>
<meta name="Keywords" content="norobot">
<meta name="Robots" content="noindex,nofollow">
<meta name="googlebot" content="noarchive">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<link href="./images/yomi_icon.jpg" rel="apple-touch-icon" />
<meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
<link rel="stylesheet" href="./js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="./js/jquery-2.2.4.min.js"></script>
<!-- <script src="./js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.js"></script> -->
<script type="text/javascript">
function doScroll() { if (window.pageYOffset === 0) { window.scrollTo(0,1); } }
window.onload = function() { setTimeout(doScroll, 100); }
</script>
</head>

<body>
<a name="top"></a>
<!-- Start page -->
<div data-role="page" class="ui-page ui-body-c ui-page-active">

    <!-- header -->
    <div data-role="header"  data-theme="b" class="ui-bar-b ui-header">
        <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">ﾊﾟｽﾜｰﾄﾞ認証/登録ﾃﾞｰﾀ修正･削除</h1>
        <a data-transition="slide" class="ui-btn-left ui-btn ui-btn-up-b ui-btn-icon-left ui-btn-corner-all ui-shadow" data-icon="arrow-l" rel="external" href="<?php echo $cfg['sp_path_url'];?>" data-theme="b"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">TOP</span><span class="ui-icon ui-icon-arrow-l ui-icon-shadow"></span></span></a>
        <a data-transition="slide" class="ui-btn-right ui-btn ui-btn-up-b ui-btn-icon-left ui-btn-corner-all ui-shadow" rel="external" data-icon="arrow-r" href="search.php" data-theme="b"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">ｻｲﾄ検索</span><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></span></a>
    </div>
    <!-- /header -->

    <div data-role="content">

        <div style="text-align:center; font-weight:bold;"><?php if(isset($text['menu_bar'])){printTopMenuLink( $text['menu_bar'], '#2489CE' );} ?></div>


<!-- /Menu Bar Output -->
<!-- Header Space Output -->
<?php if(isset($text['head_sp'])){echo $text['head_sp'];}?>
<!-- /Header Space Output -->
<!-- Navigation Bar Output -->
<a href="<?php echo $cfg['sp_path_url']; ?>"  rel="external" class="ui-link">ﾎｰﾑ</a>&nbsp;&gt;&nbsp;<strong>ﾒｯｾｰｼﾞ表示</strong><br />
<!-- /Navigation Bar Output -->

<div class="ui-bar ui-bar-b" style="text-align: center;" >
	<h1><?php echo $title; ?></h1>
</div>

	<div data-role="fieldcontain"  style="text-align: center;">
		<span style="color:#FF0000;"><?php echo $mes; ?></span><br />
		<div align="center">
		<a href="javascript:history.back();" role="button" aria-label="button" data-theme="b" class="ui-btn ui-btn-up-c ui-btn-corner-all ui-shadow">
		<span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">　戻る　</span></span></a>
		</div>
		
	</div>

<!-- Footer Space Output -->
<?php if(isset($text['foot_sp'])) { echo $text['foot_sp']; } ?>
</div>
<!-- /content -->

<!-- /Footer Space Output -->
<?php cr(); ?>
</body>
</html>