<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title><?php echo $Stitle; ?>|<?php echo $cfg['sp_search_name'] ?></title>
<meta name="keywords" content="<?php echo $cfg['ver']; ?>,検索エンジン,<?php echo $cfg['ver']; ?>の検索結果,<?php echo $Stitle; ?>" />
<meta name="description" content="<?php echo $cfg['ver']; ?>の検索エンジンの検索結果,<?php echo $Stitle; ?>" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="index,follow" name="robots" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />

<link rel="stylesheet" href="<?php echo $cfg['sp_path_url']; ?>js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="<?php echo $cfg['sp_path_url']; ?>js/jquery-2.2.4.min.js"></script>
<script src="<?php echo $cfg['sp_path_url']; ?>js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.js"></script>

<script type="text/javascript">
function doScroll() { if (window.pageYOffset === 0) { window.scrollTo(0,1); } }
window.onload = function() {
 setTimeout(doScroll, 100);
}
</script>
</head>


<body>
<!-- Start page -->
<div data-role="page"  data-cache="never">

    <!-- header -->
    <div data-role="header"  data-theme="b">
        <h1><?php echo '検索結果'; ?></h1>
        <a href="<?php echo $cfg['sp_path_url'];?>" data-icon="arrow-l" rel="external"  class="ui-btn-left" data-transition="slide">TOP</a>
        <a href="search.php" data-icon="arrow-r" rel="external" class="ui-btn-right" data-transition="slide">検索</a>
    </div>
    <!-- /header -->


   <div data-role="content">
<!-- Menu Bar Output -->
        <div style="text-align:center;"><?php printTopMenuLink( $text['menu_bar'] ); ?></div>
<!-- /Menu Bar Output -->
<!-- Navigation Bar Output -->
<a href="<?php echo $cfg['sp_path_url'];?>" rel="external">ﾎｰﾑ</a>&nbsp;&gt;&nbsp;<strong>検索結果</strong>

<a name="top"></a>
<!-- Header Space Output -->
<?php echo $text['head_sp']; ?>
<!-- /Header Space Output -->
<!-- Navigation Bar Output -->
<!-- /Navigation Bar Output -->
<?php echo $search_day; ?>
<!-- ページ中段の検索フォーム -->
<table width="100%" class="table_searchform">
  <tr>
    <td align="center">
		<form action="<?php echo $cfg['search']; ?>" method="get">
			<input type="hidden" name="mode" value="search">
			<input type="hidden" name="page" value="1">
			<input type="hidden" name="sort" value="<?php echo htmlspecialchars($_GET['sort']); ?>">
			<input type="hidden" name="open_type" value="0">
			<input type="hidden" name="hyouji" value="30">
			<input name="word" type="search" class="form" value="<?php echo htmlspecialchars($_GET['word']); ?>" size="20">&nbsp;
			<input type="submit" class="form" value="検索">&nbsp;

			<select name="method" class="form">
				<option value="and" selected>AND</option>
				<option value="or">OR</option>
			</select>
		</form>
    </td>
  </tr>
</table>
<?php
// カテゴリ検索結果を表示
if(@$kt_search_list && $_GET['page'] == 1) {
	?>
    <hr><ul>▼以下のカテゴリと一致しました(<?php echo count($kt_search_list); ?>件)<br><br>
    <?php
    foreach ($kt_search_list as $kt) {
		?><a href="<?php echo $cfg['sp_script']; ?>?mode=dir&amp;path=<?php echo $kt; ?>"><?php echo full_category($kt); ?></a><br><br><?php
	}
	?></ul><?php
}
// ワード検索結果を表示
if($Clog) {
	?>
<!-- データがある場合 -->
<!-- 表示方法選択フォーム -->
<form action="<?php echo $cfg['search']; ?>" method="get">
	<input type="hidden" name="page" value="1">
	<input type="hidden" name="word" value="<?php echo htmlspecialchars($_GET['word']); ?>">
	<input type="hidden" name="engine" value="<?php echo htmlspecialchars($_GET['engine']); ?>">
	<input type="hidden" name="mode" value="<?php echo htmlspecialchars($_GET['mode']); ?>">
	<input type="hidden" name="page" value="1">
	<input type="hidden" name="search_kt" value="<?php echo htmlspecialchars($_GET['search_kt']); ?>">
	<input type="hidden" name="search_kt_ex" value="<?php echo htmlspecialchars($_GET['search_kt_ex']); ?>">
	<input type="hidden" name="search_day" value="<?php echo htmlspecialchars($_GET['search_day']); ?>">
	<input type="hidden" name="use_str" value="<?php echo htmlspecialchars($_GET['use_str']); ?>">
	<input type="hidden" name="method" value="<?php echo htmlspecialchars($_GET['method']); ?>">
[現在の表示：<b>
<?php
if(!@$_GET['sort']) {
	switch(@$cfg['defo_hyouji']) {
		case "time_new": echo "更新日の新しい順"; break;
		case "id_new": echo "登録日の新しい順"; break;
		case "ac_new": echo "アイウエオ順(昇順)"; break;
		case "ac_old": echo "アイウエオ順(降順)"; break;
		case "id_old": echo "登録日の古い順"; break;
		case "time_old": echo "更新日の古い順"; break;
		default: echo "マーク順";
	}
} else {
	switch(@$_GET['sort']) {
		case "time_new": echo "更新日の新しい順"; break;
		case "id_new": echo "登録日の新しい順"; break;
		case "ac_new": echo "アイウエオ順(昇順)"; break;
		case "ac_old": echo "アイウエオ順(降順)"; break;
		case "id_old": echo "登録日の古い順"; break;
		case "time_old": echo "更新日の古い順"; break;
		default: echo "マーク順";
	}
}
?>
</b>]
	<select name="sort" class="form">
		<option value="" selected>表示順切替↓</option>
		<option value="time_new">更新日の新しい順で</option>
		<option value="id_new">登録日の新しい順で</option>
		<option value="mark">マーク順で</option>
		<option value="ac_new">アイウエオ順(昇順)で</option>
		<option value="ac_old">アイウエオ順(降順)で</option>
		<option value="id_old">登録日の古い順で</option>
		<option value="time_old">更新日の古い順で</option>
	</select>
	<input type="submit" class="form" value="表示切替">
</form>
<br>
<?php
	$word_en   = htmlspecialchars($_GET['word']);
	$word_en   = urlencode($word_en);
    $arg_path  = '&mode='       . $_GET['mode']
               . '&sort='       . $_GET['sort']
               . '&word='       . $word_en
               . '&engine='     . $_GET['engine']
               . '&use_str='    . $_GET['use_str']
               . '&method='     . $_GET['method'];
    if(isset($_GET['search_kt']) && !empty($_GET['search_kt'])) {
        $arg_path .= '&search_kt='  . $_GET['search_kt'];
    }
    if(isset($_GET['search_kt_ex']) && !empty($_GET['search_kt_ex'])) {
        $arg_path .= '&search_kt_ex=' . $_GET['search_kt_ex'];
    }
    if(isset($_GET['search_day']) && !empty($_GET['search_day'])) {
        $arg_path .= '&search_day=' . $_GET['search_day'];
    }
	$arg = array($_GET['page'],
                 $Clog,
                 $cfg['hyouji'],
                 $arg_path,
                 $cfg['search']);
	$PRmokuji = mokuji($arg);
	?>
<div align="center"><?php echo $PRmokuji; ?></div>
<br>
<?php
	// &open_for_searchで得たハッシュ/@writeを元にデータを表示@log_linesに入れる
	// $arg1=ページ番号(1～)
	foreach($log_lines as $log_data) {
		$jump_url = $log_data['url'];
		if(@$cfg['rank_fl']) {
			$jump_url = urlencode(unhtmlentities($log_data['url']));
			$jump_url = "{$cfg['rank']}?mode=link&id={$log_data['id']}&url={$jump_url}";
		} else {
			$jump_url = unhtmlentities($log_data['url']);
		}
		?>
<!-- ログ表示 -->



<div class="ui-bar ui-bar-b" >
    <h3 onClick="window.open('<?php echo $jump_url; ?>','_blank');" style="cursor: pointer; width:100%; margin-left:5px; text-decoration:underline;">
    <?php echo $log_data['title']; ?>
    </h3>
</div>
<div class="ui-body ui-body-c">
    <?php put_icon(); ?>
    <?php if($log_data['message'] != '') echo $log_data['message'].'<br />'; ?>
    <?php if($log_data['comment'] != '') echo $log_data['comment'].'<br />'; ?>
    更新日：<?php echo $log_data['last_time']; ?><br />
    <a href="regist.php?mode=enter&id=<?php echo $log_data['id']; ?>" rel="external">修正/削除</a>&nbsp;|&nbsp;<a href="regist.php?mode=no_link&id=<?php echo $log_data['id']; ?>&pre=on&title=<?php echo urlencode($log_data['title']); ?>">管理者通知</a>
    <?php
     if(@$cfg['mylink_fl']) {
           echo '&nbsp;|&nbsp;<a href="'.$cfg['sp_script'].'?mode=mylink&act=add&id='.$log_data['id'].'" rel="external">ﾏｲﾘﾝｸ追加</a>';
     }
    if(isset($log_data['banner']) && $log_data['banner'] != '') {
        echo '<br><a href="'.$jump_url.'" target="_blank"><img src="'.$log_data['banner'].'" border="0" width="'.$cfg_reg['Mbana_w'].'" height="'.$cfg_reg['Mbana_h'].'" alt="'.$log_data['title'].'" title="'.$log_data['title'].'"></a>';
    }
    ?>
    <br />
    <?php
     echo '</div>';
	}
?>
<!-- /ログ表示 -->


<!-- Page Mokuji Output -->
<div align="center"><?php echo $PRmokuji; ?></div>
<!-- /Page Mokuji Output -->
<!--/データがある場合-->
<?php
} else { // 外部検索エンジンへのリンクを表示
    ?>▼該当するデータは見つかりませんでした。下記の検索エンジンで再検索できます。<br /><br />
    <?php
	require_once $cfg['sp_sub_path'] . 'meta_ys.php';
	$location_list = meta('meta_page', 'on');
	PR_meta_page($location_list);
}
?>
<br>

<!-- Other Category Output -->
<?php other_category(); ?>
<!-- /Other Category Output -->

<!-- Footer Space Output -->
<?php if(isset($text['foot_sp'])) { echo $text['foot_sp']; } ?>
</div>
<!-- /content -->

<!-- /Footer Space Output -->
<?php cr(); ?>
</body>
</html>